/* ==========================================================================
   GLOBAL
   ========================================================================== */

/**
 * Alguns componentes do Bootstrap estao sendo sobrescritos aqui, nao foi feita a 
 * separacao.
 **/

@media (min-width: $screen-md-min) {
    html {
        font-size: 18px;
    }
}

@media (min-width: $screen-lg-min) {
    html {
        font-size: 20px;
    }
}

body {
    font: {
        family: $font-family-base;
    }
    color: $color-text;
    background: {
        color: $color-body;
    }
    @include position(relative, null);
}

a {
    color: $color-danger-md;
    transition: all 0.3s;

    #{$_link-hover} {
        color: white;
    }
}

/* Todas as imagens estao responsivas */
img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border: none;
}

input, textarea {
    @include placeholder(white !important);
}

option {
    color: black;
}

%no-text-underline {
    text-decoration: none;
}


/* TIPOGRAFIA
 * -------------------------- */

// p {
//     @include margin(null null ($space-base * 1.5));
// }

b, strong {
    font-weight: $font-bold;
}

small, .small {
    font-size: $font-size-small-perc;
}

big, .big {
    font-size: $font-size-big-perc;
}

abbr[title], abbr[data-original-title] {
    border-bottom: none;
    text-decoration: none;
}

.mark, mark {
    @include padding(.1em null);
    background-color: rgba(black, .15);
    color: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: lowercase;
    font-weight: $font-light;
    line-height: 1;
    font-style: italic;
    // font-family: $font-family-heading;
    // @include margin(null null $space-xs);
}

$h-font-size-list: $font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4, $font-size-h5, $font-size-h6;

@for $i from 1 through length($h-font-size-list) {
    h#{$i}, .h#{$i} {
        font-size: nth($h-font-size-list, $i)
    }
}