//* ==========================================================================
//*   IMPORTS
//* ========================================================================== *//


@import 'bourbon/bourbon';

@include font-face(
	"Panton",
	"../fonts/panton-light-webfont",
	("woff2", "woff")
	) {
	font-style: normal;
	font-weight: 300;
}

@include font-face(
	"Panton",
	"../fonts/panton-light-italic-webfont",
	("woff2", "woff")
	) {
	font-style: italic;
	font-weight: 300;
}

@include font-face(
	"Panton",
	"../fonts/panton-regular-webfont",
	("woff2", "woff")
	) {
	font-style: normal;
	font-weight: 400;
}

@include font-face(
	"Panton",
	"../fonts/panton-regular-italic-webfont",
	("woff2", "woff")
	) {
	font-style: italic;
	font-weight: 400;
}

@include font-face(
	"Panton",
	"../fonts/panton-bold-webfont",
	("woff2", "woff")
	) {
	font-style: normal;
	font-weight: 700;
}

@include font-face(
	"Panton",
	"../fonts/panton-bold-italic-webfont",
	("woff2", "woff")
	) {
	font-style: italic;
	font-weight: 700;
}

@import 'base.config';
@import 'base.functions';
@import 'base.global';
@import 'components';
@import 'layout';
@import 'overrides'; 
@import 'animations'; 